@font-face {
  font-family: spaceHeader;
  src: url("../../../../assets/fonts/BigParty4Blue-2575.woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #caf0f8;
  font-family: spaceHeader;
  font-size: calc(2.5rem + 3vw);
  text-align: center;
  text-shadow: 2px -2px 4px #ffdab3;
  padding-top: 0.5rem;
}

h1::after {
  content: "\00a0";
  display: inline-block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
  padding-top: 3rem;
}

.moon-container {
  flex: 0 0 auto;
  width: calc(5rem + 2vw);
  height: calc(5rem + 2vw);
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

model-viewer.rotating-moon {
  display: block;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  --poster-color: transparent;
  --progress-bar-height: 0;
  --progress-mask: transparent;
  z-index: 4;
}
