header {
  height: 15%;
  width: 98%;
  max-width: 1400px;
  padding: 0.5rem;
  flex: 0 1 auto;
  top: -2rem;
  z-index: 4;
  position: relative;
}

@font-face {
  font-family: spaceHeader;
  src: url("../../../../assets/fonts/BigParty4Blue-2575.woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #caf0f8;
  font-family: spaceHeader;
  font-size: calc(2.5rem + 3vw);
  text-shadow: 2px -2px 4px #ffdab3;
  padding-top: 0.5rem;
  margin-left: calc(1.5rem + 22vw);
  text-align: center;
}

h1::after {
  content: "\00a0";
  display: inline-block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 3rem;
  margin-top: 2rem;
}

.moon-container {
  flex: 0 0 auto;
  width: calc(5rem + 2vw);
  height: calc(5rem + 2vw);
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
}

model-viewer.rotating-moon {
  display: block;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  --poster-color: transparent;
  --progress-bar-height: 0;
  --progress-mask: transparent;
  z-index: 4;
  background-color: transparent;
  border-radius: 50%;
}

@media (max-width: 360px) {
  header h1 {
    font-size: 3rem;
    margin-top: 0.5rem;
  }

  header {
    padding: 0.2rem;
  }
}
