.iframe-wrapper {
  background: #000000;
  padding: 0;
  line-height: 0;
  width: 70vw;
  /* min-width: 500px; */
  height: 65vh;
  /* min-height: 400px; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.solsysframe {
  border: 2px solid #0f5c6e;
  z-index: 2;
  width: 100%;
  min-width: 500px;
  height: 100%;
  min-height: 400px;
  border-radius: 1rem;
}
