body {
  background-color: #000020;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  min-height: 100vh; /* Minimum height to handle viewport issues on mobile */
  display: flex;
  flex-direction: column;
}

.landing-page,
.space-news-page,
.solar-system-page,
.iss-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex: 1; /* Take up remaining space */
  width: 100%;
  overflow: auto; /* Allow scrolling within the container */
}

header,
nav,
.main-viewer {
  width: 98%; /* Slight margin on the sides */
  max-width: 1400px; /* Prevent stretching on larger screens */
}

header,
.hero,
footer {
  width: 98%; /* Slight margin on the sides */
  max-width: 1400px; /* Prevent stretching on larger screens */
  padding: 0.5rem; /* Padding inside */
  background-color: transparent;
}

header {
  flex: 0 1 auto; /* Ensure it can shrink and grow as needed */
  position: sticky;
  top: -2rem;
  z-index: 100;
}

nav {
  flex: 0 1 auto; /* Same as header */
  position: sticky;
  top: 1.5rem;
  z-index: 100;
}

.hero {
  flex: 1 1 auto; /* Allow expansion */
}

.main-viewer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 3 1 auto; /* Main content takes up more space */
  width: 100%;
}

.nav-card {
  flex: 1 1 auto; /* Allow expansion */
  width: 100%; /* Full width */
}

footer {
  flex: 0 1 auto; /* Allow shrinking if necessary */
  width: 95%; /* Match other sections */
  margin-bottom: 0.5rem; /* Space at the bottom */
}

.star {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}
/*Small (Mobile)*/
@media (max-width: 360px) {
  header h1 {
    font-size: 3rem;
    margin-top: 0.5rem;
  }

  .landing-page,
  header,
  .hero,
  footer {
    padding: 0.2rem; /* Padding inside */
  }
}

/* Small (Phones - Landscape or small tablets in portrait) */
@media (min-width: 361px) and (max-width: 600px) {
}

/* Medium (Tablets - Portrait or small laptops) */
@media (min-width: 601px) and (max-width: 1024px) {
}

/* Large (Laptops, smaller desktop monitors) */
@media (min-width: 1025px) and (max-width: 1440px) {
}

/* Extra Large (Large monitors or ultra-wide screens) */
@media (min-width: 1441px) {
}
