* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000020;
  overflow-y: hidden; /* Allow vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  min-height: 100vh; /* Minimum height to handle viewport issues on mobile */
  /* display: flex;
  flex-direction: column; */
}

.star {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}

.landing-page,
.space-news-page,
.nasa-image-page,
.solar-system-page,
.iss-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex: 1; /* Take up remaining space */
  width: 100%;
}

/*Small (Mobile)*/
@media (max-width: 360px) {
  .landing-page,
  .space-news-page,
  .nasa-image-page,
  .solar-system-page,
  .iss-page,
  footer {
    padding: 0.2rem; /* Padding inside */
  }
}

@media (min-width: 1000px) {
  .space-news-page .main-viewer,
  .landing-page .main-viewer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .landing-page .main-viewer .nav-card,
  .space-news-page .main-viewer .nav-card {
    flex: 1 1 45%;
  }
}

.bruno-ace-regular {
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron-text {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*********************************************************
 *  ███████╗██████╗  █████╗  ██████╗███████╗    ██████╗ ██╗      █████╗  ██████╗███████╗
 *  ██╔════╝██╔══██╗██╔══██╗██╔════╝██╔════╝    ██╔══██╗██║     ██╔══██╗██╔════╝██╔════╝
 *  ███████╗██████╔╝███████║██║     █████╗      ██████╔╝██║     ███████║██║     █████╗  
 *  ╚════██║██╔═══╝ ██╔══██║██║     ██╔══╝      ██╔═══╝ ██║     ██╔══██║██║     ██╔══╝  
 *  ███████║██║     ██║  ██║╚██████╗███████╗    ██║     ███████╗██║  ██║╚██████╗███████╗
 *  ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚══════╝    ╚═╝     ╚══════╝╚═╝  ╚═╝ ╚═════╝╚══════╝
 * ┌───────────────────────────────────────────────────────────────────────────────────┐
 * │     Created by: Shawn M. Tapps                                                    │
 * │     Created on: 2024-03-20 @ 14:35 GMT                                            │
 * │     Language: CSS                                                                 │
 * └───────────────────────────────────────────────────────────────────────────────────┘
 *    ███████╗███╗   ███╗████████╗
 *    ██╔════╝████╗ ████║╚══██╔══╝
 *    ███████╗██╔████╔██║   ██║   
 *    ╚════██║██║╚██╔╝██║   ██║   
 *    ███████║██║ ╚═╝ ██║   ██║   
 *    ╚══════╝╚═╝     ╚═╝   ╚═╝   
 * 
 * MIT License
 * 
 * Copyright (c) 2024 Shawn M. Tapps
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *********************************************************/
