/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000020;
  overflow-y: hidden; /* Allow vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  min-height: 100vh; /* Minimum height to handle viewport issues on mobile */
  /* display: flex;
  flex-direction: column; */
}

.star {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}

.landing-page,
.space-news-page,
.nasa-image-page,
.solar-system-page,
.iss-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex: 1; /* Take up remaining space */
  width: 100%;
}

/*Small (Mobile)*/
@media (max-width: 360px) {
  .landing-page,
  .space-news-page,
  .nasa-image-page,
  .solar-system-page,
  .iss-page,
  footer {
    padding: 0.2rem; /* Padding inside */
  }
}

@media (min-width: 1000px) {
  .space-news-page .main-viewer,
  .landing-page .main-viewer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .landing-page .main-viewer .nav-card,
  .space-news-page .main-viewer .nav-card {
    flex: 1 1 45%;
  }
}

.bruno-ace-regular {
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron-text {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
