footer {
  width: 98%; /* Slight margin on the sides */
  max-width: 1400px; /* Prevent stretching on larger screens */
  padding: 0.5rem; /* Padding inside */
  background-color: transparent;
  flex: 0 1 auto; /* Allow shrinking if necessary */
  width: 95%; /* Match other sections */
  margin-bottom: 0.5rem; /* Space at the bottom */
}

footer p {
  color: #ff9933;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5),
    2px 2px 5px rgba(243, 241, 241, 0.3);
}
